<html>
    <head id="head-container">
        <title id="title">Sample Project</title>

        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/sample-script.js"></script>
    </head>
    <body>
         <div class="filter"> 
            <h2>
                <span id="filter-text">Filter Article Contents: </span>
                 <input type="text" id="searchTitle" onkeydown="filterArticle()"/>
            </h2>
         </div>
         <div id="main-article-container" class="article-container wrapper">
         </div>
    </body>
</html>